@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes swipeIn {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes swipeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}

@keyframes driveOut {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        opacity: 1;
    }
}

@keyframes driveIn {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale3d(0.8, 0.8, 0.8);
        opacity: 0;
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 1;
    }
    50% {
        transform: scale3d(0.95, 0.95, 0.95);
        opacity: 1;
    }
    75% {
        transform: scale3d(1.02, 1.02, 1.02);
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.banner {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.frame, .animWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.copy {
    text-transform: uppercase;
    font: normal bold 40px/36px Arial, sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.frame--end .animWrapper--1 .copy {
    top: auto;
    bottom: 22px;
    transform: none;
}

.frame--1 .animWrapper--2,
.frame--2 .animWrapper--2,
.frame--end .animWrapper--2 {
    opacity: 0;
}

.principle {
    position: absolute;
    display: block;
}

.principle:not(.principle--1) {
    opacity: 0;
}


/*
    Helpers
 */

.bg--red {
    background-color: #ff5148;
}

.bg--yellow {
    background-color: #ffd60a;
}

.bg--blue {
    background-color: #58b2e4;
}